<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <httpCompression>
        <dynamicTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="application/json" enabled="true" />
        </dynamicTypes>
        <staticTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="application/json" enabled="true" />
        </staticTypes>
      </httpCompression>
      <rewrite>
        <rules>
          <rule name="ReverseProxyInboundRule1" stopProcessing="true">
            <match url="(.*)" />
            <action type="Rewrite" url="http://localhost:8080/{R:1}" />
            <serverVariables>
              <serverVariable name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
              <serverVariable name="HTTP_X_FORWARDED_PROTO" value="{HTTPS}" />
            </serverVariables>
          </rule>
        </rules>
      </rewrite>
      <aspNetCore processPath="dotnet" arguments=".\OllamaWebApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="DOMAIN" value="dicabr.com.br" />
          <environmentVariable name="ASPNETCORE_HTTP_PORTS" value="8080" />
          <environmentVariable name="DB_PATH" value="|ContentRootPath|\data\queue.db" />
          <environmentVariable name="MAX_CONCURRENT_JOBS" value="3" />
          <environmentVariable name="API_KEY" value="CHANGE_THIS_SECRET_KEY_IN_PRODUCTION" />
          <environmentVariable name="ENABLE_AUTH" value="false" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
