{
    servers {
        max_body_size 1g
    }
}

:80 {
    root * /usr/share/caddy
    file_server
    
    handle /api/* {
        reverse_proxy ollama-web-backend:8080
    }
    
    handle /health {
        reverse_proxy ollama-web-backend:8080
    }
    
    handle {
        reverse_proxy ollama-web-backend:8080
    }
}
